#directory ul {
	list-style-type: none;
	columns: 250px;
}

html[data-bs-theme="dark"] .tabulator .tabulator-header .tabulator-col:hover {
	background-color: slategray !important;
}

html[data-bs-theme="dark"] .tabulator .tabulator-header .tabulator-col:hover .tabulator-col-content {
	background-color: transparent;
}

#database-icon {
	cursor: pointer;
	margin-top: 1px;
}

#theme-toggle {
	cursor: pointer;
}